:root {
    --primary-color: #fe4750;
    --second-color: #fe8166;
    --third-color: #641a27;
    --fourth-color: #a770c9;
    --fifth-color: #20c47d;
    --primary-color-opaco: rgba(254, 71, 80, 0.4);
    --second-color-opaco: rgb(254, 129, 102, 0.5);
    --fifth-color-opaco: rgb(32, 196, 125, 0.4);
    --border-radius: 5px;
    --transition-speed: 0.3s;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #000;*/
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fifth-color-opaco);
    color: #fff;
}

header.scrolled {
    background-color: var(--fifth-color);
}

header .logo img {
    max-height: 100px;
    margin-left: 1em;
}

.header-title h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    color: var(--primary-color);
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
}

main {
    margin: 2em auto;
    max-width: 50%;
    margin-top: 10em;
}

section {
    display: flex;
    flex-direction: column;
}


.list {
    padding: 20px;
    border-radius: 10px;
}

.title_list h2 {
    margin-top: 0;
}

.links a {
    margin: .2em;
    color: #e74c3c;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.links a:hover {
    padding: 2.7em .5em;
    background-color: #e74c3c;
    color: #fff;
}


.form-title {
    color: var(--primary-color);
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1;
    margin: 1.5em auto;
}

.containerAForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*max-width: 50%;*/
}

.containerForm .container {
    margin-bottom: 15px;
}

.containerForm label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.containerForm input[type="text"],
.containerForm input[type="datetime-local"],
.containerForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.containerForm input[type="submit"] {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.containerForm input[type="submit"]:hover {
    background-color: #c0392b;
}